<h1>Your Cart</h1>

<% @carted_products.each do |carted_product| %>
  <h2><%= carted_product.product.name %> x <%= carted_product.quantity %></h2>
  <h3><%= carted_product.product.price %></h3>
  <%= link_to "Remove Item", "/remove/#{carted_product.id}", method:  :delete, class: "btn btn-default" %>
  <br>
<% end %>

<%= link_to "Buy Now!", "/orders", method:  :post, class: "btn btn-default" %>