<h1>Your Cart</h1>

<% @carted_products.each do |carted_product| %>
  <h2><%= carted_product.product.name %></h2>
  <h3><%= carted_product.product.price %></h3>
  <h3><%= carted_product.quantity %></h3>
  <%= form_tag "/remove", method:  :get %>
  <%= submit_tag "Remove Item" %>
  <% end %>
  <br>
<% end %>

<%= form_tag "/orders", method:  :post do %>
  <%= submit_tag "Buy now!" %>
<% end %>