<h1>Product Added to Store</h1>

<h2>Item: <%= @product.name %></h2><img src=<%= @product.image %>>
<p class="price">Price: $<%= @product.price %></p>
<p>Color: <%= @product.color %></p>
<p>Description: <%= @product.description %></p>

<a href="/products">Home</a>