<h1>Cheese!</h1>

<% @products.each do |product| %>
<h2>Item: <%= product.name %></h2><img src=<%= product.image %>>
<p class="price">Price: $<%= product.price %></p>
<p>Color: <%= product.color %></p>
<p>Description: <%= product.description %></p>
<p>------------------------------------------------</p>
<% end %>

