<h1>Product</h1>

<h2>Item: <%= @product.name %></h2><img src=<%= @product.image %>>
<h5><%= @product.sale_message %></h5>
<p>Price: $<%= @product.price %></p>
<p>Tax: $<%= @product.tax %></p>
<p class ="price">Total: $<%= @product.total %></p>
<p>Color: <%= @product.color %></p>
<p>Description: <%= @product.description %></p>
<p>------------------------------------------------</p>

<a class="btn btn-info", href="/products">Home</a>
<a class="btn btn-info", href="/products/<%= @product.id %>/edit">Edit</a>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input class="btn btn-danger", type="submit", value="Delete Product">
<% end %>