<h1>Product</h1>

<h2>Item: <%= @product.name %></h2>
<% @product.images.each do |image| %>
  <img src=<%= image.url %>>
<% end %>
<% if @product.discounted?  %>
<h5>Discount item!</h5>
<% else %>
<h5>Everyday value!</h5>
<% end %>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Tax: <%= number_to_currency(@product.tax) %></p>
<p class ="<%= "sale-item" if @product.discounted? %>">Total: <%= number_to_currency(@product.total) %></p>
<p>Color: <%= @product.color %></p>
<p>Description: <%= @product.description %></p>
<p>Supplier Name: <%= @product.supplier.name %></p>
<p>------------------------------------------------</p>

<a class="btn btn-info", href="/products">Home</a><br>
<a class="btn btn-info", href="/products/<%= @product.id %>/edit">Edit</a><br>
<a class="btn btn-info", href="/products/<%= @product.id %>/images/new">Add Image</a>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input class="btn btn-danger", type="submit", value="Delete Product">
<% end %>

<%=  form_tag "/orders", method:  :post do %>
  <%= label_tag :quantity %>
  <%= text_field_tag :quantity %>
  <%= label_tag :product_id %>
  <%= text_field_tag :product_id, @product.id %>
  <%= submit_tag "Order Now!" %>
<% end %>